$main-color: #DA8344
$footer-bg: #DADFE3

@mixin flex()
  display: flex
  align-items: center
  justify-content: space-between

*
  box-sizing: border-box

body, input
  margin: 0
  font-family: "Montserrat", sans-serif

h1, h2, h3
  font-family: "Playfair Display", serif
  
a
  text-decoration: none

button
  font-family: "Montserrat", sans-serif
  background: rgba(0, 0, 0, 0)
  border: none
  &:hover
    cursor: pointer
  &:active, &:focus
    outline: none

.fa
  &-youtube
    &:hover
      color: #DA2626
  &-twitter
    &:hover
      color: #63BBEF
  &-facebook-f
    &:hover
      color: #0059A5
  &-vk
    &:hover
      color: #218FDF

  &b
    transition: .2s


.hero
  padding: 40px 120px
  color: #fff
  background-image: url(../img/background.jpg)
  &-header
    +flex
    &-nav
      &__item
        color: #fff
        margin-right: 50px
        position: relative
        &:last-child
          margin-right: 0
        &::after
          position: absolute
          height: 0
          width: 100%
          content: ""
          background-color: #fff
          left: 0
          bottom: -3px
        &:hover
          &::after
            height: 1px
  &__title
    margin-top: 150px
    font-weight: 700
    font-size: 70px
    max-width: 720px
    margin-bottom: 50px
  &__subtitle
    font-weight: 400
    font-size: 25px
    max-width: 460px
    margin-top: 0
    margin-bottom: 70px
  &-buttons
    width: 570px
    display: flex
    align-items: center
    justify-content: start
    margin-bottom: 30px
  &__btn
    &:first-child
      width: 307px
      height: 75px
      background-color: $main-color
      border-radius: 38px
      font-size: 20px
      font-weight: 600
      margin-right: 60px
      transition: background-color, .2s 
      &:hover
        background-color: darken($main-color, 10%)
      &:active
        transform: scale(.95)
    &:nth-child(2)
      width: 75px  
      height: 75px
      border-radius: 50%
      border: 1px solid rgba(255, 255, 255, .75)
      margin-right: 20px
      transition: .2s
      & svg path
        transition: .2s
      &:hover
        border-color: $main-color 
        & svg path
          stroke: $main-color
      &:active
        transform: scale(.95) 
      & svg
        margin-left: 5px
    &-text 
      display: inline-block
      max-width: 100px
      color: rgba(255, 255, 255, .75)
  &-footer
    +flex
  &-social
    &__title
      display: block
      font-size: 16px
      font-weight: 400
      margin-bottom: 24px
    &__link
      font-size: 18px
      color: #fff
      margin-right: 51px
      &:last-child
        margin-right: 0
  &-card
    display: inline-block
    width: 285px
    height: 200px
    border-radius: 16px
    margin-right: 30px
    transition: .2s
    &-block
      height: 100%
      padding: 25px
      display: flex
      flex-flow: column
      justify-content: space-between
    &:nth-child(1)
      background: linear-gradient(360deg, #000000 -7.5%, rgba(0, 0, 0, 0) 75.25%), url(../img/card-1.png)
    &:nth-child(2)
      background: linear-gradient(360deg, #000000 -7.5%, rgba(0, 0, 0, 0) 75.25%), url(../img/card-2.png);
    &:nth-child(3)
      margin-right: 0
      background: linear-gradient(360deg, #000000 -7.5%, rgba(0, 0, 0, 0) 75.25%), url(../img/card-3.png);
    &__title
      margin: 0
      font-size: 25px
      font-feature-settings: 'pnum' on, 'lnum' on
    &-text
      display: flex
      align-items: center
      justify-content: space-between
    &__text
      margin: 0
      max-width: 104px
      display: inline-block
    &__arrow
      display: inline
    &s
      align-self: flex-end
    &:hover
      cursor: pointer
      transform: scale(1.05)
  @media screen and ( max-width: 1600px )
    &-card
      width: 220px
      height: 154px
      &-block
        padding: 20px
      &__title
        font-size: 20px

.ways
  padding: 160px 260px
  +flex
  &-card
    width: 830px
    height: 475px
    background: linear-gradient(360deg, #000000 -7.5%, rgba(0, 0, 0, 0) 75.25%), url(../img/card-4.png);
    color: #fff
    border-radius: 16px
    transition: .2s
    &:hover
      cursor: pointer
      transform: scale(1.02)
    &-block
      padding: 45px 60px
      height: 100%
      display: flex
      flex-flow: column
      justify-content: space-between
    &__title
      font-size: 24px
      font-weight: 700
      font-feature-settings: 'pnum' on, 'lnum' on
      margin: 0
    &__subtitle
      font-weight: 400
      font-size: 16px
    &-text
      display: flex
      align-items: center
      justify-content: space-between
    &__text
      font-size: 20px
      margin: 0
      max-width: 200px
      display: inline-block
    &__arrow
      display: inline
  &-block
    width: 500px
    &__title
      font-size: 42px
      margin-top: 0
      margin-bottom: 30px
    &__subtitle
      margin-top: 0
      margin-bottom: 50px
      font-size: 18px
    &__btn
      font-size: 20px
      font-weight: 600
      width: 265px
      height: 75px
      border-radius: 38px
      color: $main-color
      border: 1px solid $main-color
      transition: .1s 
      &:active
        transform: scale(.95)
        


  @media screen and ( max-width: 1600px )
    padding: 100px 160px
    &-card
      width: 650px
      height: 372px
      &-block
        padding: 30px 40px

.form
  display: flex
  align-items: center
  justify-content: flex-end
  height: 520px
  padding-top: 90px
  padding-right: 160px
  background: url(../img/form-background.png)
  background-position-x: -150px
  &-text
    width: 310px
    margin-right: 100px
    &__title
      margin-top: 0
      margin-bottom: 30px
      font-size: 36px
    &__subtitle
      font-size: 18px
      margin: 0
  &-form
    display: flex
    align-items: center
    flex-flow: column
    &__name, &__phone
      padding: 0 25px
      width: 265px
      height: 65px
      font-size: 18px
      border-radius: 38px
      border: 1px solid #9FA6AB
      margin-bottom: 30px
      transition: .2s
      &:focus, &:active
        outline: none
        border: 1px solid $main-color
    &__phone
      margin-bottom: 50px
    &__submit
      width: 265px
      height: 65px
      border-radius: 38px
      background-color: $main-color 
      font-weight: 600
      font-size: 18px
      transition: .2s
      margin-bottom: 10px
      &:hover
        background-color: darken($main-color, 10%)
    &__text
      display: block
      font-size: 11px
      text-align: center
      max-width: 240px
      &-link
        color: $main-color
      
.review
  padding: 160px 260px
  +flex
  &-card
    width: 830px
    height: 475px
    background: linear-gradient(360deg, #000000 -7.5%, rgba(0, 0, 0, 0) 75.25%), url(../img/card-5.png);
    color: #fff
    border-radius: 16px
    transition: .2s
    &:hover
      cursor: pointer
      transform: scale(1.05)
    &-block
      padding: 45px 60px
      height: 100%
      display: flex
      flex-flow: column
      justify-content: space-between
    &__title
      font-size: 24px
      font-weight: 700
      font-feature-settings: 'pnum' on, 'lnum' on
      margin: 0
    &__subtitle
      font-weight: 400
      font-size: 16px
    &-text
      display: flex
      align-items: center
      justify-content: space-between
    &__text
      font-size: 20px
      margin: 0
      max-width: 340px
      display: inline-block
    &__arrow
      display: inline
  &-block
    width: 500px
    &__title
      font-size: 42px
      margin-top: 0
      margin-bottom: 30px
    &__subtitle
      margin-top: 0
      margin-bottom: 50px
      font-size: 18px
    &__btn
      font-size: 20px
      font-weight: 600
      width: 265px
      height: 75px
      border-radius: 38px
      color: $main-color
      border: 1px solid $main-color
      transition: .1s 
      &:active
        transform: scale(.95)
        


  @media screen and ( max-width: 1600px )
    padding: 100px 160px
    &-card
      width: 650px
      height: 372px
      &-block
        padding: 30px 40px

.footer
  padding: 40px 160px
  background-color: $footer-bg
  display: flex
  align-items: center
  justify-content: space-between
  &__logo
    margin-right: 80px
  &-links
    margin-left: 0
    margin-right: auto
    display: flex
    &__item
      display: block
      max-width: 200px
      font-size: 14px
      font-weight: 400
      color: #746C6C
      margin-right: 50px
      transition: .2s
      &:hover
        color: $main-color
      &:last-child
        margin-right: 0
  &-social
    &__item
      margin-right: 30px
      color: #746C6C
      font-size: 18px
      &:last-child
        margin-right: 0

    